@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    position: relative;
}

/*?---------------------------------------HEADER---------------------------------------*/
header {
    position: relative;
    background: linear-gradient(to bottom,#55c1ff, transparent);
    z-index: 10000;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px 5%;
    gap: 450px;
    width: 100%;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
}

header li, header a {
    font-weight: 500;
    font-size: 20px;
    color : #fff;
    text-decoration: none;
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 30px;
}

.nav__links li a.lien {
    position: relative;
    padding: 0 20px;
    border-radius: 20px;
}

.nav__links li a.lien:hover{
    background-color: #fff;
    color: #0693e3;
    padding: 10px 20px;
}

/*?----------------FOOTER----------------*/
footer {
    position: absolute;
    background: linear-gradient(to top,#55c1ff, transparent);
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px 5%;
    gap: 450px;
    width: 100%;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    bottom: 0;
}

footer li, footer a {
    font-weight: 500;
    font-size: 20px;
    color : #fff;
    text-decoration: none;
    cursor: pointer;
}

.foot__links {
    list-style: none;
}

.foot__links li {
    display: inline-block;
    padding: 0px 30px;
}

.foot__links li a.lien {
    position: relative;
    padding: 0 20px;
    border-radius: 20px;
}

.foot__links li a.lien:hover{
    background-color: #fff;
    color: #0693e3;
    padding: 10px 20px;
}

.foot__links li.copi:hover {
    cursor: default;
}