@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Quicksand';
}

body {
    background: #0693e3;
    height: 3100px;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #464646
}

::-webkit-scrollbar-thumb:hover {
    background: #2c2c2c;
}

/*?-------------------------Container Acc-------------------------*/
.container-acc {
    position: relative;
    width: 1800px;
    height: 950px;
    left: 150px;
    top: 60px;
}

.textes-acc {
    width: 1029px;
    height: 492px;
}

.textes-acc h1 {
    height: 250px;
    font-weight: 700;
    font-size: 80px;
    line-height: 110px;
    color: #fff;
}

.textes-acc p {
    width: 779px;
    height: 250px;
    font-weight: 200;
    font-size: 30px;
    line-height: 40px;
    color: #fff;
}

.textes-acc .link {
    cursor: pointer;
    font-size: 30px;
    position: relative;
    white-space: nowrap;
    color: #fff;
}

.link::before, .link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    left: 0;
    top: 100%;
    pointer-events: none;
}

.link::before {
    content: '';
}

.textes-acc .link--carpo {
    position: absolute;
    top: 450px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.textes-acc .link--carpo::before {
    height: 10px;
    top: 100%;
    opacity: 0;
}

.textes-acc .link--carpo:hover::before {
    opacity: 1;
    animation: lineUp 0.3s ease forwards;
}

@keyframes lineUp {
    0% {
        transform-origin: 50% 100%;
        transform: scale3d(1, 0.045, 1);
    }

    50% {
        transform-origin: 50% 100%;
        transform: scale3d(1, 1, 1);
    }

    51% {
        transform-origin: 50% 0%;
        transform: scale3d(1, 1, 1);
    }

    100% {
        transform-origin: 50% 0%;
        transform: scale3d(1, 0.045, 1);
    }
}

.textes-acc .link--carpo::after {
    content: '';
    transition: opacity 0.3s;
    opacity: 0;
    transition-delay: 0.3s;
}

.textes-acc .link--carpo:hover::after {
    opacity: 1;
    transition-delay: 0.3s;
}


.image-acc img{
    position: absolute;
    width: 993px;
    height: 950px;
    right: 0;
    top: -150px;
    z-index: -1;
}

.container-apdm {
    position: absolute;
    width: 2500px;
    height: 1460px;
    left: -260px;
    top: 1000px;
}

.image-apdm .v1 {
    position: absolute;
    width: 2345px;
    height: 1375px;
    left: -100px;
    top: -100px;
    z-index: 3;
}

.image-apdm .v2 {
    position: absolute;
    width: 2345px;
    height: 1375px;
    left: -130px;
    top: -30px;
    z-index: 1;
}

.image-apdm .v3 {
    position: absolute;
    width: 2500px;
    height: 1300px;
    left: -200px;
    top: -60px;
    z-index: 2;
    opacity: 0.5;
}

.image-apdm .moi {
    position: absolute;
    width: 840px;
    height: 840px;
    left: 200px;
    top: 150px;
    z-index: 1000;
}

.textes-apdm {
    position: absolute;
    width: 845px;
    height: 370px;
    right: 500px;
    top: 250px;
    z-index: 1000;
}

.textes-apdm h1 {
    max-width: 788px;
    max-height: 125px;
    font-size: 80px;
    font-weight: 700;
    line-height: 125px;
    color: #0693e3;
}

.textes-apdm p {
    max-width: 845px;
    max-height: 150px;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    color: #0693e3;
}

.textes-apdm button {
    position: absolute;
    top: 230px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    width: 357px;
    height: 70px;
    background: #0693e3;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: 0;
    transition: 0.3s;
}

.textes-apdm button a {
    width: 325px;
    height: 38px;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    color: #eceffe;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}

.textes-apdm button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.container-con {
    position: relative;
    width: 1755px;
    height: 957px;
    left: 172px;
    top: 1000px;
}

.textes-con {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 16px;
    position: absolute;
    width: 915px;
    height: 350px;
    left: 0;
    top: 200px;
}

.textes-con h1 {
    width: 916px;
    height: 125px;
    font-weight: 700;
    font-size: 80px;
    line-height: 125px;
    color: #fff;
}

.textes-con p {
    height: 150px;
    width: 780px;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    color: #fff;
}

.textes-con button {
    position: absolute;
    width: 325px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;
    top: 380px;
    border: 0;
    background: #fff;
    box-shadow: 0px 10px 20px, rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: 0.3s;
}

.textes-con button a {
    width: 292px;
    height: 38px;
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
    color: #0693e3;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}

.textes-con button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.image-con img {
    position: absolute;
    width: 940px;
    height: 955px;
    right: 0;
    top: 0;
    z-index: 1000;
}